<%= tag.li id: dom_id(person), class: "person-row" do %>
  <div class="person-row__identity">
    <% if person.avatar.attached? %>
      <%= image_tag person.avatar, class: "avatar avatar--thumb", alt: "" %>
    <% else %>
      <div class="avatar avatar--thumb avatar--initials" aria-hidden="true">
        <%= person.display_name.split.map(&:first).first(2).join.upcase %>
      </div>
    <% end %>
    <%= link_to person.display_name, person %>
  </div>
  <span class="years">
    <%= person.birth&.date_raw %><% if person.death %> – <%= person.death.date_raw %><% end %>
  </span>
<% end %>
