<% content_for :title, t("people.title") %>

<div class="page-head">
  <h1><%= t("people.title") %></h1>
  <%= link_to t("people.add"), new_person_path, class: "button" %>
</div>

<% if @people.any? %>
  <ul class="people-list">
    <%= render @people %>
  </ul>
<% else %>
  <p class="empty"><%= t("people.empty") %> <%= link_to t("people.add_first"), new_person_path %>.</p>
<% end %>
