<%= turbo_frame_tag "add_#{@relation}" do %>
  <%= form_with model: @relative, url: person_relatives_path(@person), class: "form form--inline" do |f| %>
    <%= hidden_field_tag :relation, @relation %>
    <p class="inline-title"><%= t("family.add_title", relation: t("family.relation_singular.#{@relation}")) %></p>
    <div class="field"><%= f.label :given_names %><%= f.text_field :given_names %></div>
    <div class="field"><%= f.label :surname %><%= f.text_field :surname %></div>
    <div class="field">
      <%= f.label :sex %>
      <%= f.select :sex, Person::SEXES.map { |v| [t("people.sex.#{v}"), v] } %>
    </div>
    <div class="actions">
      <%= f.submit t("people.add") %>
      <%= link_to t("forms.cancel"), person_path(@person), class: "linkish", data: { turbo_frame: "_top" } %>
    </div>
  <% end %>
<% end %>
