<%# locals: node (graph node hash), focus (bool), mode (string), depth (integer) %>
<div class="tree-node <%= "tree-node--focus" if focus %> <%= node[:living] ? "tree-node--living" : "tree-node--#{node[:sex]&.downcase}" %>"
     data-tree-target="node"
     data-tree-node-id="<%= node[:id] %>">
  <% if node[:living] %>
    <p class="node-name node-name--living"><%= node[:name] %></p>
  <% else %>
    <%= link_to person_tree_path(node[:id], mode: mode, depth: depth) do %>
      <p class="node-name"><%= node[:name] %></p>
      <% if node[:birth_year].present? %>
        <p class="node-dates">b.&thinsp;<%= node[:birth_year] %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
